*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #a54e9e);
    
}

.main-container{
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
}

.main-pic{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.logo-pic{
    width: 120px;
    border-radius: 15px;
}

.main-title{
    display: flex;
    justify-content: center;
    
}

.scope{
    display: flex;
    justify-content: center;
}

.main-title h1{
    text-align: center;
    margin-bottom: 10px;    
}

.scope p{
    width: 520px;
    text-align: center;
    font-size: 13px;
    padding: 5px;
    margin-bottom: 10px;
}

.menu-container{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.menu-pic1{
    width: 250px;
    background-color: #f0f0f0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
    background-color: rgb(251, 240, 218);
}

.menu-pic2{
    width: 250px;
    background-color: #f0f0f0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
    background:rgb(231, 219, 243);
}

.menu-pic3{
    width: 250px;
    background-color: #f0f0f0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
    background:rgb(216, 237, 237);
}

.menu-pic1 .burger-img{
    width: 100%;
    height: 200px;
}
.menu-pic2 .pizza-img{
    width: 100%;
    height: 200px;
}
.menu-pic3 .kebab-img{
    width: 100%;
    height: 200px;
}



.menu-list{
    padding: 10px;
  
}

.menu-list h2{
    font-size: 15px;
    margin-bottom: 8px;
}

.menu-list p{
    color: #666666;
    font-size: 10px;
    line-height: 1.3;
    margin-bottom: 10px;

}

button{
    width: 100%;
    height: 30px;
    font-family: Verdana;
    font-size: 12px;
}
.burger-btn{
    background: rgb(255, 111, 0);
    border-radius: 20px;
    border: none;
    color: #f0f0f0;
    transition: 0.2s;
    cursor: pointer;
}

.pizza-btn{
    background:rgb(127, 46, 207);
    border-radius: 20px;
    border: none;
    color: #f0f0f0;
    transition: 0.2s;
    cursor: pointer;
}

.kebab-btn{
    background:rgb(13, 159, 162);
    border-radius: 20px;
    border: none;
    color: #f0f0f0;
    transition: 0.2s;
    cursor: pointer;
}


.burger-btn:hover{
    background: rgb(255, 111, 0);
    box-shadow: 0 5px 0 rgb(133, 59, 2);
}

.pizza-btn:hover{
    background:rgb(127, 46, 207);
    box-shadow: 0 5px 0 rgb(73, 14, 132);
}

.kebab-btn:hover{
    background:rgb(13, 159, 162);
    box-shadow: 0 5px 0 rgb(8, 101, 103);
}



.bi-basket3-fill{    
   position: relative;
    background: white;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    border-radius: 50px;
    left: 205px;
    bottom: 265px;
    font-size: 12px;
}


.bi-cloud-fog-fill{
     position: relative;
    color: #f0f0f0;
    text-align: center;
    margin-top: 10px;
    left: 5px;
    top: 0;
    font-size: 15px;
}








